<!-- <div class="container">
	<h1>Hero Form</h1>
	<form>
		<div class="form-group">
			<label for="name">Name</label>a
			<input type="text" class="form-control" id="name" required>
		</div>
		 
		<div class="form-group">
			<label for="alterEgo">Alter Ego</label>
			<input type="text" class="form-control" id="alterEgo">
		</div>
		 
		<button type="submit" class="btn btn-success">Submit</button>
		 
	</form>
</div> -->
<div class="container">
	<h1>{{title}}</h1>
	<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zom">
		<sebm-google-map-directions [origin]="origin" [destination]="dest"></sebm-google-map-directions>
	</sebm-google-map>
	<div class="form-group">
		<label for="source">Source</label>
		<input placeholder="Source" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #source ng-model="sourceLocaiton">

	</div>

	<div class="form-group">
		<label for="selectedCar">Car Type</label>
		<select class="form-control" [ngModel]="selectedCar" (ngModelChange)="selectCar($event)">
			<option [value]="car.id" *ngFor="let car of cars" [selected]="car.label == 'None' ? true : null">{{car.label}}</option>
		</select>
	</div>
	<div class="form-group">
		<label for="destination">Destination</label>
		<input placeholder="Destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #destination ng-model="destinationLocation">
	</div>
	<div class="form-group" *ngIf="thisDistance || duration">
		<div class="form-group">
			<label for="distance">Distance: {{ thisdistance }}</label>
			<label for="duration">Duration: {{ duration }}</label>
		</div>
	</div>
</div>
